<%= form_for(@response) do |f| %>
  <h2>Dear <span id="candidate_name">Obama</span>,</h2>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>
      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :reason do |builder| %>
  <%= render 'reason_fields', :f => builder %>
  <% end %>
  <div class="field">
    <%= f.hidden_field :who, :value => "obama" %>
  </div>
  <div class="actions">
    <%= f.submit 'Send in Thoughts' %>
  </div>
<% end %>
